@import "./scss/config";
@import "./scss/header";

main {
  min-height: 86.5vh;
  .banner {
    background-color: #00000026;
  }
}

footer {
  padding: 0.5rem 1rem;
  background-color: $base-primary;
  color: #ffffff;
}

.category-list {
  display: flex;
  padding: 1rem 0;
  gap: 1rem;

  .category {
    padding: 1rem;
    border: 1px solid;
    border-radius: 10px;
    a {
      text-transform: capitalize;
    }
  }
}
